.maincontainer{
    display: grid;
    grid-template-rows: 0fr 1fr 1fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "mainheader mainheader"
    "aside main"
    "footer footer";
}
aside img{
    width: 200px;
    height: 200px;
    padding-left: 25px;
    margin-bottom: 20px;
    transition: transform 2s ease;
} 
aside img:hover{
    transform: rotate(45deg);
}

.logoimage{
    width: 100px;
    height: 100px;
    margin: 20px;
  
}

header{
    background-color: aquamarine;
    grid-area: mainheader;
    grid-template-columns: 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
    
}
.h21{
    display: flex;
    flex-direction: column;
}

main{
grid-area: main;
}

aside{
    grid-area: aside;
       
}

footer{
    background-color: beige;
    grid-area: footer;
    text-align: center;
    margin-bottom: auto;
}
iframe{
    width: 100%;
    height: 100%;
}
nav{
    text-align: center;
    
}

.buttoning{
    cursor: pointer;
}
.abcd{
    background-color: blue;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}
.searching{
    margin: 30px;
}